@use 'bootstrap';

@use './partials/variables.scss' as *;

body {
    background-color: $darkBackground;
}

a,
router-link {
    text-decoration: none !important;
    color: whitesmoke !important;
}

.disabled {
    color: gray !important;
}

a:hover,
router-link:hover {
    color: whitesmoke !important;
}

.dropdown {

    button {
        background: $navbarBackround !important;
        color: whitesmoke !important;
    }

    ul {
        background: $navbarBackround !important;
        color: whitesmoke !important;

        .dropdown-item:hover {
            background: $navLinkHover !important;
            transition: 0.5s;
        }
    }


}