@use 'bootstrap';

@use './partials/variables.scss' as *;

body {
    background-color: $darkBackground;
}

a,
router-link {
    text-decoration: none !important;
    color: whitesmoke !important;
}

.disabled {
    color: gray !important;
}

a:hover,
router-link:hover {
    color: whitesmoke !important;
}

main {
    // border: 2px solid green;
    // padding-top: 2.5rem;
}

// main:before {

//     display: block;
//     content: " ";
//     // margin-top: -2rem;
//     height: 3rem;
//     visibility: hidden;
//     pointer-events: none;
// }

/* #projects:before {
    display: block;
    content: " ";
    margin-top: -2.5rem;
    height: 2.5rem;
    visibility: hidden;
    pointer-events: none;
} */

/* #contacts:before {
    display: block;
    content: " ";
    margin-top: -2.5rem;
    height: 2.5rem;
    visibility: hidden;
    pointer-events: none;
} */