@use './variables.scss' as *;

.nav {

    background: $navbarBackround;

    a, router-link {
        margin: 0 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        vertical-align: middle;
        border-radius: 5px;

    }

    .disabled {
        // color: gray !important;
    }

    a:hover, router-link:hover {
        background-color: $navLinkHover;
        transition: 0.5s ease;
    }
}