@use './variables.scss' as *;

.page-item {

    &:hover {
        background-color: $hover;
        box-shadow: 0px 0px 5px 1px $hoverShadow !important;
        transition: 0.2s ease;
        z-index: 1;
    }

    z-index: 0;

    a {
        background: $navbarBackround !important;
        color: whitesmoke !important;
        transition: 0.5s;
    }

}

li.active {

    a {
        background: $hover !important;
        transition: 0.5s;
    }

}

li.disabled {

    a {
        background: $projectCardOverlay !important;
        color: gray !important;
        transition: 0.5s;
    }
    

}