$darkBackground: rgb(40, 50, 60);

$navbarBackround: linear-gradient(135deg,
        rgb(40, 50, 60) 0%,
        rgba(14, 14, 14) 100%);


$navLinkHover: rgba(137, 137, 186, 1);

$projectCardOverlay: rgba(40, 52, 59, 0.7);

// rgba(125, 126, 125, 1) 